<div class="container" class="text-center" id="bio">
    <div class="row" id="bio-introduction">
        <div>
            <figure>
            <img [src]="portraitPath" alt="Łukasz Drobnik" class="img-circle" id="portrait">
            <figcaption *ngIf="!langEn">Fotografia: Weronika Woźniak</figcaption>
            <figcaption *ngIf="langEn">Photo by Weronika Woźniak</figcaption>
            </figure>
        </div>
        <div id="authorsname">Łukasz Drobnik</div>
        <div class="col-md-6 col-md-offset-3 description" *ngIf="!langEn">
            <p>Jestem prozaikiem piszącym (po polsku i&nbsp;ostatnio po angielsku) kawałki o&nbsp;długości od kilkuset do dziesiątek tysięcy słów i&nbsp;rozpiętości gatunkowej od czystego realizmu (rzadko) przez realizm zabarwiony surrealizmem i&nbsp;elementami prozy gatunkowej (częściej) po kompletny <i>odjechanizm</i> (z&nbsp;braku lepszego słowa).</p>
            <p>Poniżej lista moich publikacji, z&nbsp;których część można przeczytać na tej stronie, w&nbsp;dziale <a (click) = "resetScroll()" [routerLink]="['/random']">teksty</a>. Można mnie też znaleźć na <a href="http://facebook.com/drobnik.writes" target="_blank">Facebooku</a>, <a href="https://twitter.com/drobnik" target="_blank">Twitterze</a>, <a href="https://www.instagram.com/drobnikwrites/" target="_blank">Instagramie</a> i&nbsp;<a href="https://www.patreon.com/drobnik" target="_blank">Patreonie</a>.</p>
        </div>
        <div class="col-md-6 col-md-offset-3 description" *ngIf="langEn">
            <p>I&rsquo;m a fiction writer creating pieces in my native Polish and, more recently, also in English, which can range in length from several hundred to dozens of thousands of words and, in style, from pure realism (rarely) to realism tinged with surrealism and elements of genre fiction (more often), to complete <i>bonkerism</i> (for lack of a better word).</p>
            <p>Below you can find the list of my publications, some of which can be read on this very website, in the <a (click) = "resetScroll()" [routerLink]="['/random/en']">texts</a> section. You can also find me on <a href="http://facebook.com/drobnik.writes" target="_blank">Facebook</a>, <a href="https://twitter.com/drobnik" target="_blank">Twitter</a>, <a href="https://www.instagram.com/drobnikwrites/" target="_blank">Instagram</a> and <a href="https://www.patreon.com/drobnik" target="_blank">Patreon</a>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <ul class="timeline">
                    <li *ngFor="let publication of publications; let i = index" [ngClass]="{'timeline-inverted': i%2 != 0}">
                        <div class="timeline-image" [ngClass]="{'press-image': publications[i].type == 'press', 'book-image': publications[i].type == 'book', 'collection-image': publications[i].type == 'collection'}">
                            <a [href]="publications[i].url" target="_blank"><img class="img-circle img-responsive" [src]="imagePathBeginning + publications[i].filename + imagePathEnd" alt=""></a>
                        </div>
                        <div class="timeline-panel" [ngClass]="{'press-text': publications[i].type == 'press', 'book-text': publications[i].type == 'book', 'collection-text': publications[i].type == 'collection'}">
                            <div class="timeline-heading">
                                <h4>{{publications[i].title}}</h4>
                                <h5 class="subheading" *ngIf="publications[i].year != ''">{{publications[i].year}}</h5>
                                <h5 class="subheading" *ngIf="publications[i].year == '' && !langEn"><i>w&nbsp;przygotowaniu</i></h5>
                                <h5 class="subheading" *ngIf="publications[i].year == '' && langEn"><i>forthcoming</i></h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted" *ngIf="!langEn">{{publications[i].descriptionPl}}</p>
                                <p class="text-muted" *ngIf="langEn">{{publications[i].descriptionEn}}</p>
                            </div>
                        </div>
                    </li>
                <li class="timeline-inverted">
                    <div class="timeline-image book-image">
                        <a (click)="resetScroll()"><img class="img-circle img-responsive" [src]="logoPath" alt=""></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>