//Variables:

//colours

@colorNocturine: #a98086;
@colorCunninghamella: #566f0c;
@colorVostok: #a67847;
@colorOmnivoria: #616a65;
@colorDevonian: #99aac6;
@colorObrovsky: #b34a53;
@lightColor: white;

//typography

@displayFont: 'Maven Pro', sans-serif;
@readingFont: 'Roboto Slab', serif;