<div class="jumbotron nocturine">
    <div class="main-jumbopanel">
        <h3>Łukasz Drobnik</h3>
        <h1>NOCTURINE</h1>
        <h4 class="description">Fragment rozdziału czwartego<br>&bdquo;Pejzaż z&nbsp;pięcioma domami&rdquo;</h4>
    </div>

    <div class="secondary-jumbopanel">
        Minipowieść wydana w&nbsp;2011&nbsp;r. nakładem <a href="http://wforma.eu/12,nocturine.-cunninghamella.html"
                                                           target="_blank">wydawnictwa Forma</a>. Jej fragmenty można
        było przeczytać w&nbsp;<a href="http://www.dwutygodnik.com/wydanie/2011/57" target="_blank"><i>Dwutygodniku</i>
        (nr 57)</a> i&nbsp;<a href="http://nagrodaliterackagdynia.pl/sites/default/files/upload/dodatek-nr-9.pdf"
                              target="_blank"><i>Dodatku Literackim</i> (nr 9)</a>.
    </div>

    <video autoplay loop src="videos/nocturine.mp4" poster="images/poster-nocturine.jpg"></video>
</div>
<div class="story nocturine">
    <p id="first">Była piekarnia, był młyn, była stodoła, spichrz, pod którym znajdowała się spiżarnia, spiżarnia nie
        miała dna, była szybem ciągnącym się w&nbsp;głąb ziemi w&nbsp;nieskończoność, był też mały domek na uboczu, był
        sad, dookoła były pola, przez pola przebiegała droga, droga prowadziła do mostu na czarnej rzece, a&nbsp;za
        mostem rozciągał się czarny las.</p>
    <p>Siedziałam w&nbsp;piekarni na piętrze, na podłodze, białe ściany brudne od sadzy z&nbsp;lamp naftowych, było
        popołudnie, na wprost miałam okno, przez które było widać młyn, po obu stronach okna drzwi: te z&nbsp;lewej do
        kuchni, te z&nbsp;prawej do sypialni z&nbsp;opuszczonym małżeńskim łożem, obok siebie z&nbsp;lewej strony miałam
        schody na dół, za sobą drewniane schody na strych, obok których, też z&nbsp;lewej strony, było wejście do
        pokoju, w&nbsp;którym spałam.</p>
    <p>Myślałam o&nbsp;Przemku, od czasu, jak się obudziłam w&nbsp;tym dziwnym domostwie, myślałam, że może po mnie
        przyjdzie i&nbsp;mnie uratuje, miałam coraz częstsze sny o&nbsp;manekinach, wiedziałam, że w&nbsp;końcu po mnie
        przyjdą, dlatego nie rozstawałam się ze szczotką na długim drewnianym kiju, żeby mieć się czym bronić.</p>
    <p>Poszłam do swojego pokoju, wyjrzałam przez okna na drogę, za drogą ciągnęło się pole, falowało na nim szare żyto,
        była jesień, więc już dawno powinno być skoszone, w&nbsp;życie pozostałości mgły, bo poranek był mglisty,
        wróciłam na korytarz, zeszłam po schodach do ciemnej sieni, jedyne światło wpadało przez małe szybki nad
        drzwiami, trzeba by zapalić lampę naftową, nagle zobaczyłam, że na lustrze, czarnym, cieknącym jeszcze
        atramentem, ktoś napisał wierszyk, manekin napisał wierszyk:</p>

    <p class="block-quote">cicho wszyscy sza<br>bo zabawa trwa<br>spichrz zachrapie<br>młyn zasapie<br>a Beznoga ciebie
        złapie</p>

    <p>W tej samej chwili usłyszałam na piętrze furkot plastikowych kółek, wiedziałam, że to przybyła kukła Beznoga,
        żeby mnie zabić, nie zastanawiając się wiele, wyszłam na dwór.</p>
    <p>Niebo miało intensywnie śliwkowy kolor, było na nim jeszcze trochę mgły, słońce kryło się w&nbsp;tej mgle, potem
        na niebo naszły czarne chmury, a&nbsp;mgła momentalnie zniknęła z&nbsp;nieba, a&nbsp;na podwórku pochowała się
        po kątach, że tylko gdzieniegdzie jeszcze siwe wystawało, patrzyłam na pole i&nbsp;na drzewa, drzewa nie
        poruszały się zupełnie, jakby ten wiatr, co chmury przesuwał, tylko wysoko, wysoko nad ziemią i&nbsp;nieosiągalny
        był.</p>
    <p>Zrobiłam parę kroków w&nbsp;głąb podwórka, sad był nieruchomy, drzewa w&nbsp;sadzie gołe, domy także się nie
        poruszyły, lekko poruszały się tylko pola, co otaczały zewsząd, jedynie droga przez nie biegła przed młynem i&nbsp;piekarnią,
        a&nbsp;tak poza tym ze wszystkich stron otaczały, aż do rzeki, aż do lasu, co czarny, i&nbsp;niebo posępniało od
        ciemności.</p>
    <p>Zrobiłam jeszcze parę kroków i&nbsp;robiłam te kroki, mijając spichrz i&nbsp;idąc za stodołę, bo chciałam wyjść
        za stodołę, a&nbsp;tam złom na ziemi, jakby wiatr rozniósł, i&nbsp;ginął ten złom trochę w&nbsp;polu, zboże było
        szare, niebo coraz ciemniejsze, jakby wszystko było zalane śliwkowym kompotem, jakby zaraz na piekarnię miała
        spaść gigantyczna śliwka, albo na młyn spaść, a&nbsp;popatrzyłam na wrota, bo stodoła z&nbsp;dwóch stron, od
        podwórka i&nbsp;od pola, miała wrota, i&nbsp;chciałam nawet sprawdzić, czy nikogo w&nbsp;środku, ale jeszcze
        ktoś by w&nbsp;środku był, więc wróciłam.</p>
    <p>Myślałam o&nbsp;tym dniu, kiedy byłam na zajęciach i&nbsp;poczułam się słabo, i&nbsp;chciałam wyjść z&nbsp;sali
        wykładowej, a&nbsp;gdy byłam tuż przy drzwiach, ugięły się pode mną nogi, widziałam przestraszoną twarz
        wykładowcy i&nbsp;coraz bliższą podłogę, a&nbsp;jak otworzyłam oczy, zobaczyłam brudny od sadzy sufit, leżałam
        na łóżku, pod ścianą stała szafa, stał stolik, okna wychodziły na pola, było widać wielki wiąz po drugiej
        stronie drogi.</p>
    <p>Zamarłam, jak minęłam węgieł, bo z&nbsp;drzwi od stodoły, ale tych, co u&nbsp;góry, pod samym dachem, wysunęła
        się drabina, musiała się wysunąć, jak byłam za węgłem i&nbsp;patrzyłam na wrota, i&nbsp;na pola patrzyłam, na
        rzekę i&nbsp;las, a&nbsp;na rzece most, wysunęła się drabina i&nbsp;opadła na ziemię, tak że jednym końcem o&nbsp;ziemię,
        a&nbsp;drugim o&nbsp;brzeg drzwi pod samym dachem była oparta, musiała się bardzo cicho wysunąć, bo byłam zaraz
        obok, a&nbsp;nic nie usłyszałam, obejrzałam się za siebie, popatrzyłam po podwórku, a&nbsp;ciemności coraz
        więcej, między chmurami wielki kształt, że już myślałam, że to płynie gigantyczna śliwka, spichrz trwał
        nieruchomo, jakby czegoś wyczekiwał.</p>
    <p>Wtedy hurkot plastikowych kółek, patrzę w&nbsp;górę, a&nbsp;tam jedzie Beznoga i&nbsp;coraz szybciej się w&nbsp;dół
        przesuwa, od razu ją poznałam, widziałam ją w&nbsp;swoich snach, Beznoga po równi pochyłej drabiny w&nbsp;moim
        kierunku jechała i&nbsp;zastanawiałam się, co zrobić, nie wiedziałam zupełnie, chmury na niebie, chmury, Beznoga
        jechała, w&nbsp;peruce i&nbsp;z namalowanymi oczami, z&nbsp;szarym plastikiem, nie ruszała się właściwie, tylko
        jechała w&nbsp;dół w&nbsp;ustalonej pozie, plastikowy korpus natknięty na stojak z&nbsp;kółkami, zupełnie nie
        wiedziałam, co zrobić.</p>
    <p>Kiedy jeszcze była wysoko, bo drabina długa, wzięłam drugi koniec drabiny i&nbsp;chciałam odciągnąć, żeby się z&nbsp;drzwi
        wysunęła i&nbsp;huknęła o&nbsp;ziemię, i&nbsp;manekin roztrzaskał, ale ledwie zaczęłam ciągnąć, już czułam, że
        będzie ciężko, że ciężka drabina, ale mimo wszystko ciągnęłam, a&nbsp;kukła coraz niżej, coraz bliżej,
        ciągnęłam, aż w&nbsp;końcu drabina wysunęła się z&nbsp;drzwiczek.</p>
    <p>Patrzyłam, jak kukła spada, jak osuwa się drabina, drabina jakby szybciej spadała, bo kółka oderwały się od
        szczebli i&nbsp;kukła jakby uniosła, ale tak naprawdę obie z&nbsp;drabiną spadały, tylko kukła trochę wolniej,
        ręce jej się nieznacznie w&nbsp;górę, jak spadała, przesunęły, oczy cały czas miała tak samo namalowane, niebo
        coraz ciemniejsze, coraz mocniej śliwkowe, aż nagle drabina trzepnęła o&nbsp;ziemię, a&nbsp;w chwilę potem
        huknęło plastikiem i&nbsp;to spadła kukła, i&nbsp;legła w&nbsp;plastikowym zagruchotaniu, i&nbsp;leżał plastik,
        i&nbsp;się nie ruszał.</p>
    <p>A ja patrzyłam na ten plastik, co się nie ruszał, i&nbsp;zastanawiałam się, czy uszkodziłam go na tyle, że będzie
        się nie ruszał już zawsze, plastikowy korpus utknięty na stojaku na kółkach, namalowane oczy, peruka, ziemia
        była mokra i&nbsp;pachniała intensywnie, po niebie przesuwały się chmury, w&nbsp;dwóch warstwach, jednej bliżej,
        drugiej dalej, drzewa w&nbsp;sadzie były czarne, patrzyłam na ten plastik, co się nie ruszał, podeszłam nawet
        bliżej, żeby wysłyszeć, czy nie oddycha, ale plastik chyba w&nbsp;ogóle nie oddycha, nawet kiedy porusza się na
        kółkach albo macha rękami.</p>
    <p>I jak nie wyskoczyła, tak gruchotnęło, a&nbsp;Beznoga się podniosła i&nbsp;wydała dziwny odgłos, jakby kwiczenie
        świni, ale takie zupełnie ciche, a&nbsp;ja się zlękłam i&nbsp;pognałam, za węgłem już byłam, zgubiłam po drodze
        szczotkę, a&nbsp;potem zaraz byłam w&nbsp;stodole, a&nbsp;tam prawie zupełnie ciemno i&nbsp;na kupie leżały
        grabie i&nbsp;motyki, i&nbsp;szpadle, musiało urwać się to u&nbsp;góry, ten drąg, na którym wszystkie grabie i&nbsp;motyki,
        i&nbsp;szpadle wisiały, słyszałam, jak Beznoga jedzie, słyszałam, jak się zbliża, musiałam się schować, musiałam
        się schować.</p>
    <p>Się schowałam w&nbsp;tej stercie grabi i&nbsp;motyk, weszłam w&nbsp;sam środek i&nbsp;byłam trochę jak ciernik w&nbsp;swoim
        gnieździe, już słyszałam, jak Beznoga jedzie i&nbsp;cały czas miałam nadzieję, że ominie wrota, niewiele tu było
        widać, a&nbsp;ze sterty, w&nbsp;której leżałam, sterczały te wszystkie motyki i&nbsp;szpadle, bałam się, że
        zacznę dygotać, a&nbsp;wtedy te wszystkie motyki i&nbsp;szpadle, i&nbsp;być może też kosy, też zaczną dygotać, i&nbsp;że
        wtedy mnie to zdradzi.</p>
    <p>I wjechała Beznoga, tak bardzo powoli i&nbsp;spokojnie, tak niesamowicie spokojnie wjechała, że nawet nie było
        słychać, jak poruszają się kółka, i&nbsp;jak tylko wjechała do środka, cień stodoły się na niej położył i&nbsp;znikły
        namalowane oczy, i&nbsp;widziałam tylko czarny zarys plastiku, jak się porusza coraz bardziej w&nbsp;głąb
        stodoły, przejechała tuż obok, zahaczyła o&nbsp;trzymadło od motyki, a&nbsp;potem zanurzyła się gdzieś w&nbsp;odmęty
        stodoły, bo stodoła miała w&nbsp;środku czarne odmęty, że niewiele Beznogiej widziałam, tylko kawałek stojaka
        gdzieś i&nbsp;może rękę, nie ruszała się i&nbsp;powinnam była uciec.</p>
    <p>Bo zaraz się odwróciła na stojaku i&nbsp;ręce cały czas w&nbsp;tej samej pozie miała ustawione, a&nbsp;głowę
        trochę pochyloną, choć tylko zarys widziałam, i&nbsp;zbliżała się w&nbsp;moją stronę, ale może, myślałam, ona
        chciała po prostu ze stodoły wyjechać, a&nbsp;zbliżała się cały czas w&nbsp;tej samej pozie i&nbsp;nagle nade
        mną, cały czas trochę pochylona, stanęła.</p>
    <p>Stała nade mną w&nbsp;ciemności, była tuż nad moją głową, a&nbsp;ja w&nbsp;tych wszystkich motykach i&nbsp;grabiach,
        i&nbsp;tak naprawdę teraz one były dla mnie pułapką, bo nie udałoby mi się zupełnie stamtąd uciec, to znaczy
        uciec tak szybko, jakbym chciała, bo Beznoga dorwałaby mnie, zanim bym się wyswobodziła, i&nbsp;jak tylko to
        pomyślałam, zaczęłam strasznie dygotać, Beznoga stała nade mną i&nbsp;nie ruszała się, i&nbsp;ten jej bezruch
        był straszniejszy, niż gdyby robiła jakieś inne straszne rzeczy, a&nbsp;ja zaczęłam dygotać i&nbsp;zaczęły
        trząść się te wszystkie motyki i&nbsp;szpadle, zaczęło coś tam klekotać, uderzać coś o&nbsp;coś, Beznoga nade
        mną, musiała to słyszeć, musiała, choć może manekiny nie mają słuchu.</p>
    <p>Aż w&nbsp;końcu okręciła się na stojaku i&nbsp;szybko w&nbsp;inny koniec stodoły odjechała, i&nbsp;tam też tak
        stała, jakby nasłuchiwała, i&nbsp;też się nie ruszała, a&nbsp;ja już nie mogłam wytrzymać i&nbsp;wyrwałam się ze
        sterty motyk, że eksplodowała na wszystkie strony i&nbsp;na wszystkie strony leciały grabie, leciały widły,
        leciały kosy, a&nbsp;ja już byłam przed stodołą, na polu, i&nbsp;biegłam, bo wiedziałam, że Beznoga zaraz ze
        stodoły wyjedzie i&nbsp;mnie dopadnie, oglądałam się za siebie, biegłam w&nbsp;stronę drogi, żeby piekarnię
        okrążyć, dobiec do drzwi i&nbsp;się schować, więc biegłam w&nbsp;stronę drogi, niebo coraz ciemniejsze, jak
        wybiegałam na drogę, ostatni raz się za siebie obejrzałam.</p>
    <p>I w&nbsp;manekinie łapska wpadłam, Beznoga już na drodze, w&nbsp;jej plastikowe ręce wpadłam, a&nbsp;wpadłam tak
        mocno, że przewróciłyśmy się obie w&nbsp;plastikowym uścisku i&nbsp;przeturlałyśmy po drodze, podniósł mokry
        kurz, a&nbsp;ja jej się zaraz wyszarpnęłam, choć nie wiem tak naprawdę, czy chciała mnie pochwycić, bo cały czas
        te ręce miała nieruchome, ale chyba chciała, bo potem się podniosła, nie wiem, jak to zrobiła, podniosła się i&nbsp;jechała
        szybko w&nbsp;moją stronę, dużo szybciej, niż ja biegłam, i&nbsp;jak tylko mnie dogoniła, uniosła plastikową
        rękę i&nbsp;zdzieliła mnie przez głowę.</p>
    <p>Zamroczyło mnie, ocknęłam się po chwili i&nbsp;widziałam ciemne niebo i&nbsp;chmury na tym niebie, i&nbsp;gałęzie
        drzewa na tym niebie, a&nbsp;Beznoga też się na tle tego nieba pojawiła, ja skuliłam, a&nbsp;ona trzepnęła
        łapskiem mocno, że poczułam to łapsko na plecach, aż jęknęłam, ale wstałam szybko i&nbsp;wbiegłam w&nbsp;pole,
        bo miałam nadzieję, że Beznogiej się to pole powkręca w&nbsp;kółka i&nbsp;nie będzie mogła mnie gonić, ale mimo
        wszystko goniła, zapadał zmrok, myślałam o&nbsp;Przemku, niebo totalnie już ciemne, Beznoga goniła mnie,
        dotrzymywała kroku, a&nbsp;nawet dużo szybciej się ode mnie poruszała, i&nbsp;kiedy brnęłam przez zboże i&nbsp;przez
        ciemność, kiedy już prawie czułam łapę manekina na szyi i&nbsp;czułam, że nic nie pomoże, wtedy właśnie ucichło,
        obejrzałam się za siebie, Beznoga zniknęła i&nbsp;nie było nikogo, i&nbsp;tylko ja byłam, a&nbsp;ciemność
        wszędzie nad polem kłębiła się i&nbsp;przesuwała, las w&nbsp;oddali trwał czarny na tle czarnego nieba, wkoło
        bezgłos.</p>

    <div class="text-separator"></div>

    <p>Obudziłam się w&nbsp;środku nocy, zaraz sprawdziłam, czy koło mojego łóżka nadal leży szczotka, była na swoim
        miejscu, przeszedł mnie dreszcz, chciałam pomyśleć o&nbsp;czymś przyjemnym, o&nbsp;tym, jak Przemek zabrał mnie
        kiedyś do wesołego miasteczka, potem pomyślałam o&nbsp;Staszku, który pewnego dnia przyszedł do mieszkania
        Przemka, zaraz jak się tam wprowadziłam, i&nbsp;wyglądał na zdruzgotanego, Przemek nie chciał mi potem
        powiedzieć, co się stało.</p>
    <p>Podniosłam z&nbsp;podłogi lampę naftową, zdjęłam z&nbsp;niej kominek, wzięłam zapałki i&nbsp;zaczęłam zapalać
        jedną za drugą, ale gasły, w&nbsp;końcu jednak udało mi się zapalić knot, nałożyłam kominek, pokój pogrążył się
        w&nbsp;barwach sepii, a&nbsp;ja, ku swojemu przerażeniu, zobaczyłam, że na ścianie czarnym atramentem ktoś
        napisał:</p>

    <p class="block-quote">w całym domu straszna głusza<br>strach już oczy wybałusza<br>a Bezoki robi kroki<br>przywołuje
        złe obłoki<br>że aż wiatrak się nie rusza</p>

    <p>Bezoki, on też mi się śnił, był straszny, miał plastikową głowę i&nbsp;nie miał namalowanych oczu, tylko
        wgłębienia w&nbsp;plastiku, chodził zawsze z&nbsp;lampą naftową na wyciągniętej plastikowej ręce, spojrzałam w&nbsp;okna,
        zaczęło świtać.</p>
    <p>Sinogranatowiało, a&nbsp;ja poszłam do kuchni i&nbsp;patrzyłam w&nbsp;okna, i&nbsp;było sine niebo, i&nbsp;w tym
        sinym niebie, w&nbsp;tej siności wisiała olbrzymia czarna chmura, kształtem przypominała Antarktydę i&nbsp;niewiele
        od niej była mniejsza, jakby spadła na domy, to zrobiłaby wielką czarną dziurę w&nbsp;ziemi i&nbsp;nie byłoby
        domów, nie byłoby pól, nie byłoby nawet pewnie i&nbsp;kawałka lasu, była wielka i&nbsp;czarna, choć nie mogłam
        jej przecież z&nbsp;okien kuchni widzieć, ale zwisała nieruchomo, a&nbsp;ja stałam w&nbsp;ciszy i&nbsp;wiedziałam,
        że coś złego się stanie, i&nbsp;wiedziałam, że Bezoki.</p>
    <p>I wtedy za oknem pojawiło się światło, blada łuna, co przesuwała się coraz wyżej, wiedziałam, że to Bezoki, w&nbsp;końcu
        zrobiło się zupełnie od lampy jasno i&nbsp;zobaczyłam głowę manekina, i&nbsp;ta głowa przesuwała się, ciągnąc
        manekina, do góry, że manekin wyłaniał się powoli, że się wysuwał i&nbsp;lampa razem z&nbsp;nim się wysuwała,
        jakby stał na jakimś podnośniku, ale nie mógł stać na żadnym podnośniku, bo nie było żadnego podnośnika, musiał
        się przesuwać w&nbsp;powietrzu.</p>
    <p>Bezoki popatrzył na mnie chwilę pustymi oczodołami, a&nbsp;ja wtedy wzięłam szczotkę i&nbsp;pognałam, na korytarz
        wypadłam i&nbsp;biegłam już po schodach, ale nagle światło w&nbsp;sieni zobaczyłam, bo Bezoki był już w&nbsp;sieni,
        przemieścił się jakoś, więc ja z&nbsp;powrotem do kuchni uciekłam i&nbsp;bałam się trochę, że Bezoki się z&nbsp;powrotem
        za okno przemieści, ale nie było go za oknem, szedł po schodach, słyszałam kroki i&nbsp;widziałam światło, które
        coraz jaśniejsze przedostawało się przez szparę, i&nbsp;byłam w&nbsp;pułapce, bo nie miałam gdzie uciec, bo okno
        za wysoko, żeby wyskoczyć, a&nbsp;Bezoki kroczył i&nbsp;wszystko Bezokiego nasłuchiwało, wszystko zamarło w&nbsp;bezruchu
        i&nbsp;Bezokiego wyczekiwało, a&nbsp;on coraz bliżej.</p>
    <p>Bezoki był już na piętrze, zauważyłam, że trzęsę się bardzo i&nbsp;że dygoce szczotka, nie wiedziałam, gdzie mogę
        się schować, więc nawet nie próbowałam się chować, a&nbsp;Bezoki dokładnie wiedział, gdzie jestem, robił kroki i&nbsp;do
        mnie szedł, ale potem usłyszałam drzwi do sypialni i&nbsp;wydawało mi się, że Bezoki się w&nbsp;sypialni
        zamknął, i&nbsp;spojrzałam przez dziurkę od klucza, widziałam tylko zamknięte drzwi, ale Bezoki mógł gdzieś
        równie dobrze stać na korytarzu i&nbsp;dlatego go nie widziałam.</p>
    <p>Ale otworzyłam drzwi, a&nbsp;on nie stał na korytarzu, a&nbsp;nad domami wysoko wisiała ogromna czarna chmura i&nbsp;miała
        kształt przepastnego kontynentu, i&nbsp;zaczął z&nbsp;niej padać czarny deszcz.</p>
    <p>Przebiegłam przez korytarz i&nbsp;kiedy po schodach zbiegałam, drzwi od sypialni się otworzyły i&nbsp;wysunął
        Bezoki z&nbsp;lampą, jakby go mechanizm zegara z&nbsp;kukułką wysuwał, i&nbsp;zobaczyłam plastikowe nieruchome
        ręce i&nbsp;lampę, jak się świeci, przez sień przebiegłam, wpadłam na piec, bo na dole był wielki piec, i&nbsp;nie
        wiedziałam, w&nbsp;którą stronę, bo jak pobiegnę w&nbsp;jedną stronę, to Bezoki tam będzie, a&nbsp;jak pobiegnę
        w&nbsp;drugą stronę, to też tam będzie i&nbsp;mnie dorwie, i&nbsp;zrobi, co mu się będzie podobało, ale w&nbsp;końcu
        pobiegłam w&nbsp;prawo, do mączarni, a&nbsp;potem do graciarni i&nbsp;tam przywarłam do ściany i&nbsp;patrzyłam
        po sprzętach, jak stoją nieruchomo, po starej lampie, szafie, wieszaku, zardzewiałym harleyu-davidsonie, i&nbsp;ja
        też stałam zupełnie nieruchomo.</p>
    <p>A Bezoki zaraz zszedł ze schodów, dokładnie, jak schodzi, słyszałam, bo schody zaraz za ścianą graciarni, tak że
        było każde skrzypnięcie plastiku słychać, a&nbsp;potem usłyszałam go przy piecu, a&nbsp;najpierw światło lampy
        zobaczyłam i&nbsp;widziałam potem, jak cień drzwi się coraz bardziej przesuwa, a&nbsp;to oznaczało, że Bezoki
        coraz bardziej z&nbsp;lampą się zbliża i&nbsp;w końcu prostokąt światła naprzeciwko drzwi się zatrzymał, a&nbsp;to
        oznaczało, że Bezoki jest dokładnie przy drzwiach, ale potem prostokąt zaczął się całe szczęście dalej
        przesuwać, bo Bezoki w&nbsp;głąb mączarni wniknął, a&nbsp;światło z&nbsp;nim także wniknęło, a&nbsp;wtedy ja
        wzięłam i&nbsp;wybiegłam.</p>
    <p>Przebiegłam koło pieca, do sieni chciałam skręcić, ale biegłam za szybko i&nbsp;nie wyrobiłam, i&nbsp;do
        przebieralni wpadłam, a&nbsp;słyszałam już, jak za mną łomocze plastik, bo to Bezoki za mną biegł i&nbsp;dudnił,
        no i&nbsp;widziałam światło, jak się kołysze i&nbsp;do mnie zbliża, jak goni mnie to światło, a&nbsp;w
        przebieralni pozrzucałam parę wieszaków, jakby to mogło Bezokiego zatrzymać, a&nbsp;potem przegnałam przez
        chłodziarnię do sieni i&nbsp;wypadłam na dwór, a&nbsp;na dworze padał czarny deszcz i&nbsp;siąpił za kołnierz, i&nbsp;czarna
        chmura wisiała na niebie, i&nbsp;rzucała olbrzymi cień, a&nbsp;ja pobiegłam na tym dworze za spichrz i&nbsp;byłam
        pewna, że Bezoki za mną wygoni.</p>
    <p>Ale nie wygonił, bo się wychyliłam za węgieł i&nbsp;widziałam, że jest w&nbsp;piekarni, bo w&nbsp;jednym oknie
        światło, a&nbsp;potem w&nbsp;drugim oknie światło, a&nbsp;deszcz był strasznie zimny, bo ta czarna Antarktyda
        się skraplała, co wisiała nad głową, i&nbsp;popatrzyłam na tę czarną Antarktydę, ale z&nbsp;dołu wcale nie
        wyglądała jak Antarktyda.</p>
    <p>Pomyślałam znowu o&nbsp;Przemku, brakowało mi jego silnych nadgarstków, jego śniadań do łóżka, przypomniały mi
        się mejle, które kiedyś dostawał, były bardzo dziwne, pokazał mi je wszystkie, mówiły, że miasto czeka Ragnarök,
        że Przemek został wybrany, że jest jednym ze strażników miasta, że są też inni strażnicy miasta, na przykład
        kobieta, która ma otworzyć przejście między starym a&nbsp;nowym miastem, uznaliśmy, że ktoś sobie stroił z&nbsp;niego
        żarty.</p>
    <p>Kryłam się za czarnodachym spichrzem, na który padał czarny z&nbsp;czarnej chmury deszcz, ale to żadna była
        kryjówka, bo nie było dla mnie kryjówki, bo podejrzewałam, że Bezoki zna wszystkie moje kryjówki, wyobrażałam
        sobie, że jest przy mnie Przemek i&nbsp;że mnie przytula, a&nbsp;wtedy zobaczyłam na stodole światło, przesuwało
        się po wrotach, to Bezoki szedł bezszelestnie i&nbsp;trzymał lampę, i&nbsp;po świetle poznałam, że przesuwa się
        coraz bliżej.</p>
    <p>Szedł w&nbsp;moim kierunku, bo cień spichrza się przesuwał, więc ja się skryłam za tą ścianą, co od strony sadu,
        i&nbsp;zastanawiałam, czy za młyn nie uciec albo do sadu nie uciec, ale było za daleko, padał czarny deszcz, a&nbsp;miałam
        nadzieję, że może manekin do mnie nie idzie, tylko za stodołę idzie, i&nbsp;obserwowałam, jak się cień spichrza
        przemieszcza.</p>
    <p>A przemieszczał się tak, że zmiarkowałam, że Bezoki idzie aż do końca stodoły, gdzie się pole zaczyna, a&nbsp;potem
        cień przestał się przemieszczać, więc się domyśliłam, że Bezoki stanął, i&nbsp;wyjrzałam za węgieł, i&nbsp;stał
        tam Bezoki z&nbsp;lampą, zaraz przy krańcu stodoły stał i&nbsp;się nie ruszał, aż nagle popatrzył prosto na mnie
        tymi bezoczami, bo to bezoczy były, popatrzył na mnie i&nbsp;poświecił mi lampą, w&nbsp;przestrachu skryłam się
        za węgłem.</p>
    <p>Cień zaczął się przesuwać, a&nbsp;przesuwał się w&nbsp;taki sposób, że to zdradzało, że Bezoki przez środek
        podwórka idzie w&nbsp;stronę sadu, a&nbsp;kiedy cień odpowiednio się przesunął, ja przesunęłam się za ścianę, co
        od pola, a&nbsp;miałam nadzieję, że Bezoki przejdzie przez sad i&nbsp; w&nbsp;polu zginie, ale nagle cień
        zastygł w&nbsp;miejscu, a&nbsp;to oznaczało, że Bezoki też zastygł w&nbsp;miejscu.</p>
    <p>Chmury silnie pogrubiały nade mną, ale te, co były wysoko, wyżej jeszcze nad tą czarną jak Antarktyda chmurą,
        deszcz wciąż padał, byłam już całkiem mokra, choć nie padał mocno, a&nbsp;był lodowaty i&nbsp;ten chłód
        przenikał do szpiku.</p>
    <p>Bezoki ruszył z&nbsp;miejsca, bo było słychać kroki, specjalnie je głośno robił, żebym bardziej się bała, i&nbsp;światło
        było widać, i&nbsp;cień spichrza robił się coraz krótszy, bo Bezoki był z&nbsp;tą lampą coraz bliżej, a&nbsp;ja
        trzymałam szczotkę i&nbsp;zastanawiałam się, w&nbsp;jaki sposób bronić się tą szczotką, a&nbsp;Bezoki coraz
        bliżej, cień coraz krótszy, kroki coraz głośniejsze, a&nbsp;ja pomyślałam sobie, że może teraz stanie, a&nbsp;potem
        odwróci się i&nbsp;sobie pójdzie, a&nbsp;Bezoki jakby usłyszał moje pomyślane życzenie, bo światło przestało się
        przesuwać, bo kroki ucichły, bo przez chwilę nic nie było słychać, starałam się nie oddychać nawet.</p>
    <p>Myślałam o&nbsp;Przemku, zastanawiałam się, co w&nbsp;tej chwili robi, czy na mnie czeka, czy może znalazł sobie
        już kogoś innego, choć cały czas miałam przeświadczenie, że Przemek przybędzie tu, żeby mnie uratować.</p>
    <p>Wytargał mnie za kołnierz, wziął silną łapą, co z&nbsp;plastiku, wziął i&nbsp;mnie wyciągnął, że aż zabolało, w&nbsp;jednej
        plastikowej ręce cały czas trzymał lampę, a&nbsp;drugą mnie wyciągał za kołnierz, że się zaczęłam dusić, że
        wypuściłam szczotkę, a&nbsp;on wytaszczył mnie na środek podwórka, że cała byłam w&nbsp;glinie, że cała zimna
        zrobiłam się od ziemi, zaszlochałam, a&nbsp;on nie miał litości, nie mogłam oddychać, leciały mi łzy, a&nbsp;on
        mnie w&nbsp;końcu puścił i&nbsp;leżałam u&nbsp;jego stóp, a&nbsp;on stanął nade mną, odłożył lampę i&nbsp;stanął
        nade mną, a&nbsp;to jego stanie nade mną było bardziej przerażające, niż gdyby mi coś strasznego robił, bo on
        tak tylko stał i&nbsp;się nie ruszał.</p>
    <p>I wtedy uniósł ręce, dwie uniósł do nieba i&nbsp;centralnie nad głową miał ten przepastny czarny kontynent, i&nbsp;trzymał
        te ręce tak w&nbsp;górze, i&nbsp;plastikowiały mu w&nbsp;ciszy, i&nbsp;plastikowiały mu w&nbsp;ciszy, i&nbsp;padał
        czarny deszcz, i&nbsp;był lodowaty, i&nbsp;coraz mocniej padał, a&nbsp;Bezoki stał z&nbsp;tymi rękami
        wyciągniętymi do góry i&nbsp;te ręce aż mu trzeszczały z&nbsp;bezruchu, i&nbsp;plastikowiały, a&nbsp;ja leżałam,
        padał czarny deszcz.</p>
    <p>Wtedy ręce opadły, opadły błyskawicznie i&nbsp;kropnęły mnie tak siarczyście, że przez chwilę czarno miałam przed
        oczami, ale czułam, że lecę jak pocisk wysoko nad podwórkiem, że powietrze wokół mnie świszczy, a&nbsp;potem,
        jak już zaczęłam widzieć, ale jak leciałam jeszcze, to zobaczyłam, że mi się krew z&nbsp;głowy leje, i&nbsp;czarną
        chmurę na niebie zobaczyłam.</p>
    <p>I huknęłam o&nbsp;wrota od stodoły, wszystko zabolało, bo wbiło mnie w&nbsp;nie mocno, że jakaś deska chyba
        poszła, a&nbsp;potem chwilę na tych wrotach wisiałam, aż wreszcie osunęłam się z&nbsp;nich i&nbsp;wyrżnęłam
        twarzą w&nbsp;błoto.</p>
    <p>Po chwili się podniosłam, krew ciurkała z&nbsp;głowy, bolała każda kość, że nie mogłam się wyprostować i&nbsp;chodziłam
        na czworaka, i&nbsp;głowy też podnieść nie mogłam, żeby zobaczyć, czy Bezoki stoi, gdzie tam stał nieruchomo, i&nbsp;krew
        mi się lała do oka, a&nbsp;drugie oko miałam zaklejone błotem, ale udało się głowę zadrzeć i&nbsp;popatrzyłam po
        podwórku, podwórko było puste.</p>
    <p>A wtedy zza węgła piekarni wyskoczył Bezoki i&nbsp;zaczął łapskiem okładać, jęknęłam strasznie cicho, a&nbsp;on
        mnie bił plastikową ręką i&nbsp;strasznie mocne były to razy, że aż kuliłam się z&nbsp;bólu, a&nbsp;potem
        leżałam na ziemi, a&nbsp;on cały czas uderzał, pojawiały mi się pręgi na rękach, pojawiały pręgi na plecach, a&nbsp;potem
        Bezoki odszedł, a&nbsp;może zniknął, a&nbsp;ja cały czas w&nbsp;tym błocie leżałam i&nbsp;padał na mnie czarny
        deszcz, i&nbsp;błoto od tego deszczu też robiło się czarne, a&nbsp;potem doczołgałam się po szczotkę i&nbsp;z tą
        szczotką zawlokłam za spichrz, i&nbsp;tam zostałam, i&nbsp;krew leciała coraz mniej, ale bolało wszystko i&nbsp;bolało
        nawet, jak oddychałam, i&nbsp;płakałam, i&nbsp;padał na mnie czarny deszcz z&nbsp;czarnej lodowatej chmury, i&nbsp;noc
        już szła, i&nbsp;wszystko stawało się czarne, a&nbsp;ja za spichrzem cały czas siedziałam, a&nbsp;czarna, wielka
        jak Antarktyda chmura zespoliła się zupełnie z&nbsp;czarnym niebem.</p>
    <p class="story-footnote">&copy; 2017 by Łukasz Drobnik</p>
    <button (click)="resetScroll()" [routerLink]="['/random']" type="button" class="btn read-on">czytaj dalej</button>
</div>
