@import '../shared.less';

/*Styles shared by all components */


.jumbotron {
  text-align: center;
  font-family: @displayFont;
  color: @lightColor;
  background: transparent;

  a {
    color: @lightColor;
    text-decoration: none;
  }


  .main-jumbopanel {
    margin-top: 90px;
    padding: 1vw 3vw 2vw 3vw;
    display: inline-block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
    z-index: -70;
    position: relative;
  }

  h1 {
    font-weight: 900;
    max-width: 100%;
  }

  h3 {
    font-size: 3vh;
  }

  h4 {
    font-size: 2.5vh;
  }
  .description {
    margin-top: 25px;
    font-size: 2vh;
  }

  .secondary-jumbopanel {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 420px;
    padding: 1vw 2vw;
    opacity: 0.9;
    z-index: -70;
    position: relative;
  }

  video {
    position: absolute;
    left: 50%;
    top: 35%;
    /* The following will size the video to fit the full container. */
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: -99;
  }

}

@media screen and (max-width: 500px) {

  h1 {
    font-size: 8vw;
  }

}

.story {

  font-family: @readingFont;
  color: @readingColor;
  font-size: 1.4em;
  background-color: @lightColor;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25vw;
  padding-right: 28vw;
  width: 100%;
  text-indent: 2.5em;

}

#first {
  text-indent: 0;
  }

#first::first-letter {
  font-family: @displayFont;
  font-weight: 900;
  font-size: 2em;
}



.block-quote {
  font-size: 0.9em !important;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  text-indent: 0;
}

.story-footnote {
  margin-top: 30px;
  font-size: 0.8em;
  text-indent: 0 !important;
  text-align: center;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.text-separator {
  display: inline-block;
  height: 65px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  background: transparent repeat-x center center;
  border-left-width: 6px;
  border-right-width: 12px;
  border-style: solid;
  border-color: @lightColor;
  padding: 0;

}

.inline-heading {
  text-indent: 0;
  font-family: @displayFont;
  font-weight: 900;
  font-size: 2em;
}

.no-indent {
  text-indent: 0;
}

.no-wrap {
  white-space: nowrap;
}

.read-on {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-family: @displayFont;
  font-size: 1em;
  color: @lightColor;
}

.sources {
  color: lighten(@colorCunninghamella, 30%);
  font-size: 0.6em;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  text-indent: 0;
  margin-top: 30px;
}

@media screen and (max-width: 1200px) {

  .story {
    padding-left: 12vw;
    padding-right: 15vw;
  }

}

@media screen and (max-width: 800px) {

  .story {
    padding-left: 7vw;
    padding-right: 7vw;
  }

}

/* Styles for class .nocturine */

.nocturine {
  .selection(@colorNocturine);
}

.nocturine .main-jumbopanel, .nocturine .secondary-jumbopanel {
  background-color: @colorNocturine;
}

.nocturine #first::first-letter {
  color: @colorNocturine;
}

.nocturine .story-footnote {
  color: lighten(@colorNocturine, 30%);
}

.nocturine .text-separator {
  background-image: url("../images/sep-nocturine.png");
}

.nocturine .read-on {
  background-color: @colorNocturine;

  &:hover {
    background-color: lighten(@colorNocturine, 10%);
  }
}

.nocturine .inline-heading {
  color: @colorNocturine;
}

/* Styles for class .cunninghamella */

.cunninghamella {
  .selection(@colorCunninghamella);
}

.cunninghamella .main-jumbopanel, .cunninghamella .secondary-jumbopanel {
  background-color: @colorCunninghamella;
}

.cunninghamella #first::first-letter {
  color: @colorCunninghamella;
}

.cunninghamella .story-footnote {
  color: lighten(@colorCunninghamella, 30%);
}

.cunninghamella .text-separator {
  background-image: url("../images/sep-cunninghamella.png");
}

.cunninghamella .read-on {
  background-color: @colorCunninghamella;

  &:hover {
    background-color: lighten(@colorCunninghamella, 10%);
  }
}

.cunninghamella .inline-heading {
  color: @colorCunninghamella;
}

/* Styles for class .vostok */

.vostok {
  .selection(@colorVostok);
}

.vostok .main-jumbopanel, .vostok .secondary-jumbopanel {
  background-color: @colorVostok;
}

.vostok #first::first-letter {
  color: @colorVostok;
}

.vostok .story-footnote {
  color: lighten(@colorVostok, 30%);
}

.vostok .text-separator {
  background-image: url("../images/sep-vostok.png");
}

.vostok .read-on {
  background-color: @colorVostok;

  &:hover {
    background-color: lighten(@colorVostok, 10%);
  }
}

.vostok .inline-heading {
  color: @colorVostok;
}

/* Styles for class .omnivoria */

.omnivoria {
  .selection(@colorOmnivoria);
}

.omnivoria .main-jumbopanel, .omnivoria .secondary-jumbopanel {
  background-color: @colorOmnivoria;
}

.omnivoria #first::first-letter {
  color: @colorOmnivoria;
}

.omnivoria .story-footnote {
  color: lighten(@colorOmnivoria, 30%);
}

.omnivoria .text-separator {
  background-image: url("../images/sep-omnivoria.png");
}

.omnivoria .read-on {
  background-color: @colorOmnivoria;

  &:hover {
    background-color: lighten(@colorOmnivoria, 10%);
  }
}

.omnivoria .inline-heading {
  color: @colorOmnivoria;
}

/* Styles for class .devonian */

.devonian {
  .selection(@colorDevonian);
}

.devonian .main-jumbopanel, .devonian .secondary-jumbopanel {
  background-color: @colorDevonian;
}

.devonian #first::first-letter {
  color: @colorDevonian;
}

.devonian .story-footnote {
  color: lighten(@colorDevonian, 10%);
}

.devonian .text-separator {
  background-image: url("../images/sep-devonian.png");
}

.devonian .read-on {
  background-color: @colorDevonian;

  &:hover {
    background-color: lighten(@colorDevonian, 10%);
  }
}

.devonian .inline-heading {
  color: @colorDevonian;
}

/* Styles for class .obrovsky */

.obrovsky {
  .selection(@colorObrovsky);
}

.obrovsky .main-jumbopanel, .obrovsky .secondary-jumbopanel {
  background-color: @colorObrovsky;
}

.obrovsky #first::first-letter {
  color: @colorObrovsky;
}

.obrovsky .story-footnote {
  color: lighten(@colorObrovsky, 30%);
}

.obrovsky .text-separator {
  background-image: url("../images/sep-obrovsky.png");
}

.obrovsky .read-on {
  background-color: @colorObrovsky;

  &:hover {
    background-color: lighten(@colorObrovsky, 10%);
  }
}

.obrovsky .inline-heading {
  color: @colorObrovsky;
}