@import '../shared.less';

/*Styles shared by all components */

.jumbotron {
  height: 550px;
  text-align: center;
  font-family: @displayFont;
  color: @lightColor;
  background: transparent;



  .main-jumbopanel {
    margin-top: 90px;
    padding: 1vw 5vw;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-weight: 900;
  }

  .description {
    margin-top: 25px;
  }

  .secondary-jumbopanel {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 420px;
    padding: 1vw 2vw;
  }

  video {
    position: absolute;
    left: 50%;
    top: 35%;
    /* The following will size the video to fit the full container. */
    min-width: 100%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: -99;
  }

}

.story {

  font-family: @readingFont;
  color: @readingColor;
  font-size: 1.4em;
  background-color: @lightColor;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 22vw;
  padding-right: 30vw;
  width: 100%;
  text-indent: 2.5em;


  #first {
    text-indent: 0;
  }

  #first::first-letter {
    font-family: @displayFont;
    font-weight: 900;
    font-size: 2em;
  }

  .story-footnote {
    margin-top: 30px;
    font-size: 0.8em;
    text-indent: 0 !important;
    text-align: center;
  }

}

@media screen and (max-width: 1000px) {

  .story {
    padding-left: 5vw;
    padding-right: 5vw;
  }

}

/* Styles for class .nocturine */

.nocturine .main-jumbopanel, .nocturine .secondary-jumbopanel {
  background-color: @colorNocturine;
}

.nocturine #first::first-letter {
  color: @colorNocturine;
}

.nocturine .story-footnote {
  color: lighten(@colorNocturine, 30%);
}

/* Styles for class .cunninghamella */

.cunninghamella .main-jumbopanel, .cunninghamella .secondary-jumbopanel {
  background-color: @colorCunninghamella;
}

.cunninghamella #first::first-letter {
  color: @colorCunninghamella;
}

.cunninghamella .story-footnote {
  color: lighten(@colorCunninghamella, 30%);
}


/* Styles for class .vostok */

.vostok .main-jumbopanel, .vostok .secondary-jumbopanel {
  background-color: @colorVostok;
}

.vostok #first::first-letter {
  color: @colorVostok;
}

.vostok .story-footnote {
  color: lighten(@colorVostok, 30%);
}

/* Styles for class .omnivoria */

.omnivoria .main-jumbopanel, .omnivoria .secondary-jumbopanel {
  background-color: @colorOmnivoria;
}

.omnivoria #first::first-letter {
  color: @colorOmnivoria;
}

.omnivoria .story-footnote {
  color: lighten(@colorOmnivoria, 30%);
}

/* Styles for class .devonian */

.devonian .main-jumbopanel, .devonian .secondary-jumbopanel {
  background-color: @colorDevonian;
}

.devonian #first::first-letter {
  color: @colorDevonian;
}

.devonian .story-footnote {
  color: lighten(@colorDevonian, 10%);
}

/* Styles for class .obrovsky */

.obrovsky .main-jumbopanel, .obrovsky .secondary-jumbopanel {
  background-color: @colorObrovsky;
}

.obrovsky #first::first-letter {
  color: @colorObrovsky;
}

.obrovsky .story-footnote {
  color: lighten(@colorObrovsky, 30%);
}