.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*Styles shared by all components */
.jumbotron {
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  color: white;
  background: transparent;
}
.jumbotron a {
  color: white;
  text-decoration: none;
}
.jumbotron .main-jumbopanel {
  margin-top: 90px;
  padding: 1vw 3vw 2vw 3vw;
  display: inline-block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
  z-index: -70;
  position: relative;
}
.jumbotron h1 {
  font-weight: 900;
  max-width: 100%;
}
.jumbotron h3 {
  font-size: 3vh;
}
.jumbotron h4 {
  font-size: 2.5vh;
}
.jumbotron .description {
  margin-top: 25px;
  font-size: 2vh;
}
.jumbotron .secondary-jumbopanel {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 420px;
  padding: 1vw 2vw;
  opacity: 0.9;
  z-index: -70;
  position: relative;
}
.jumbotron video {
  position: absolute;
  left: 50%;
  top: 35%;
  /* The following will size the video to fit the full container. */
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -99;
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 8vw;
  }
}
.story {
  font-family: 'Roboto Slab', serif;
  color: #2e2e2e;
  font-size: 1.4em;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25vw;
  padding-right: 28vw;
  width: 100%;
  text-indent: 2.5em;
}
#first {
  text-indent: 0;
}
#first::first-letter {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 900;
  font-size: 2em;
}
.block-quote {
  font-size: 0.9em !important;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  text-indent: 0;
}
.story-footnote {
  margin-top: 30px;
  font-size: 0.8em;
  text-indent: 0 !important;
  text-align: center;
}
.story-footnote a {
  text-decoration: none;
  color: inherit;
}
.text-separator {
  display: inline-block;
  height: 65px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  background: transparent repeat-x center center;
  border-left-width: 6px;
  border-right-width: 12px;
  border-style: solid;
  border-color: white;
  padding: 0;
}
.inline-heading {
  text-indent: 0;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 900;
  font-size: 2em;
}
.no-indent {
  text-indent: 0;
}
.no-wrap {
  white-space: nowrap;
}
.read-on {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-family: 'Maven Pro', sans-serif;
  font-size: 1em;
  color: white;
}
.sources {
  color: #b9e82c;
  font-size: 0.6em;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  text-indent: 0;
  margin-top: 30px;
}
@media screen and (max-width: 1200px) {
  .story {
    padding-left: 12vw;
    padding-right: 15vw;
  }
}
@media screen and (max-width: 800px) {
  .story {
    padding-left: 7vw;
    padding-right: 7vw;
  }
}
/* Styles for class .nocturine */
.nocturine ::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #a98086;
}
.nocturine ::selection {
  color: white;
  background: #a98086;
}
.nocturine .main-jumbopanel,
.nocturine .secondary-jumbopanel {
  background-color: #a98086;
}
.nocturine #first::first-letter {
  color: #a98086;
}
.nocturine .story-footnote {
  color: #e7dbdd;
}
.nocturine .text-separator {
  background-image: url("../images/sep-nocturine.png");
}
.nocturine .read-on {
  background-color: #a98086;
}
.nocturine .read-on:hover {
  background-color: #be9ea3;
}
.nocturine .inline-heading {
  color: #a98086;
}
/* Styles for class .cunninghamella */
.cunninghamella ::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #566f0c;
}
.cunninghamella ::selection {
  color: white;
  background: #566f0c;
}
.cunninghamella .main-jumbopanel,
.cunninghamella .secondary-jumbopanel {
  background-color: #566f0c;
}
.cunninghamella #first::first-letter {
  color: #566f0c;
}
.cunninghamella .story-footnote {
  color: #b9e82c;
}
.cunninghamella .text-separator {
  background-image: url("../images/sep-cunninghamella.png");
}
.cunninghamella .read-on {
  background-color: #566f0c;
}
.cunninghamella .read-on:hover {
  background-color: #7a9d11;
}
.cunninghamella .inline-heading {
  color: #566f0c;
}
/* Styles for class .vostok */
.vostok ::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #a67847;
}
.vostok ::selection {
  color: white;
  background: #a67847;
}
.vostok .main-jumbopanel,
.vostok .secondary-jumbopanel {
  background-color: #a67847;
}
.vostok #first::first-letter {
  color: #a67847;
}
.vostok .story-footnote {
  color: #dbc4ab;
}
.vostok .text-separator {
  background-image: url("../images/sep-vostok.png");
}
.vostok .read-on {
  background-color: #a67847;
}
.vostok .read-on:hover {
  background-color: #bc9164;
}
.vostok .inline-heading {
  color: #a67847;
}
/* Styles for class .entropia */
.entropia ::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #616a65;
}
.entropia ::selection {
  color: white;
  background: #616a65;
}
.entropia .main-jumbopanel,
.entropia .secondary-jumbopanel {
  background-color: #616a65;
}
.entropia #first::first-letter {
  color: #616a65;
}
.entropia .story-footnote {
  color: #afb5b2;
}
.entropia .text-separator {
  background-image: url("../images/sep-entropia.png");
}
.entropia .read-on {
  background-color: #616a65;
}
.entropia .read-on:hover {
  background-color: #79857e;
}
.entropia .inline-heading {
  color: #616a65;
}
/* Styles for class .devonian */
.devonian ::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #99aac6;
}
.devonian ::selection {
  color: white;
  background: #99aac6;
}
.devonian .main-jumbopanel,
.devonian .secondary-jumbopanel {
  background-color: #99aac6;
}
.devonian #first::first-letter {
  color: #99aac6;
}
.devonian .story-footnote {
  color: #bac5d8;
}
.devonian .text-separator {
  background-image: url("../images/sep-devonian.png");
}
.devonian .read-on {
  background-color: #99aac6;
}
.devonian .read-on:hover {
  background-color: #bac5d8;
}
.devonian .inline-heading {
  color: #99aac6;
}
/* Styles for class .obrovsky */
.obrovsky ::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #b34a53;
}
.obrovsky ::selection {
  color: white;
  background: #b34a53;
}
.obrovsky .main-jumbopanel,
.obrovsky .secondary-jumbopanel {
  background-color: #b34a53;
}
.obrovsky #first::first-letter {
  color: #b34a53;
}
.obrovsky .story-footnote {
  color: #e1b5b9;
}
.obrovsky .text-separator {
  background-image: url("../images/sep-obrovsky.png");
}
.obrovsky .read-on {
  background-color: #b34a53;
}
.obrovsky .read-on:hover {
  background-color: #c36d75;
}
.obrovsky .inline-heading {
  color: #b34a53;
}
