/*Styles shared by all components */
.jumbotron {
  height: 550px;
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  color: white;
}
.jumbotron .author {
  margin-top: 110px;
}
.jumbotron h1 {
  font-weight: 900;
}
.jumbotron .description {
  margin-top: 25px;
}
.jumbotron .secondary-jumbopanel {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
/* Styles for class .nocturine */
/* Styles for class .cunninghamella */
/* Styles for class .vostok */
/* Styles for class .omnivoria */
/* Styles for class .devonian */
/* Styles for class .obrovsky */
