/*Styles shared by all components */
.jumbotron {
  height: 550px;
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  color: white;
  background: transparent;
}
.jumbotron .main-jumbopanel {
  margin-top: 90px;
  padding: 1vw 5vw 2vw 5vw;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
}
.jumbotron h1 {
  font-weight: 900;
}
.jumbotron .description {
  margin-top: 25px;
}
.jumbotron .secondary-jumbopanel {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 420px;
  padding: 1vw 2vw;
  opacity: 0.9;
}
.jumbotron video {
  position: absolute;
  left: 50%;
  top: 35%;
  /* The following will size the video to fit the full container. */
  min-width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -99;
}
.story {
  font-family: 'Roboto Slab', serif;
  color: #2e2e2e;
  font-size: 1.4em;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 22vw;
  padding-right: 30vw;
  width: 100%;
  text-indent: 2.5em;
}
.story #first {
  text-indent: 0;
}
.story #first::first-letter {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 900;
  font-size: 2em;
}
.story-footnote {
  margin-top: 30px;
  font-size: 0.8em;
  text-indent: 0 !important;
  text-align: center;
}
.text-separator {
  display: inline-block;
  height: 55px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  background: transparent repeat-x center center;
  padding: 0;
}
@media screen and (max-width: 1000px) {
  .story {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
/* Styles for class .nocturine */
.nocturine .main-jumbopanel,
.nocturine .secondary-jumbopanel {
  background-color: #a98086;
}
.nocturine #first::first-letter {
  color: #a98086;
}
.nocturine .story-footnote {
  color: #e7dbdd;
}
.nocturine .text-separator {
  background-image: url("../images/sep-nocturine.png");
}
/* Styles for class .cunninghamella */
.cunninghamella .main-jumbopanel,
.cunninghamella .secondary-jumbopanel {
  background-color: #566f0c;
}
.cunninghamella #first::first-letter {
  color: #566f0c;
}
.cunninghamella .story-footnote {
  color: #b9e82c;
}
.cunninghamella .text-separator {
  background-image: url("../images/sep-cunninghamella.png");
}
/* Styles for class .vostok */
.vostok .main-jumbopanel,
.vostok .secondary-jumbopanel {
  background-color: #a67847;
}
.vostok #first::first-letter {
  color: #a67847;
}
.vostok .story-footnote {
  color: #dbc4ab;
}
.vostok .text-separator {
  background-image: url("../images/sep-vostok.png");
}
/* Styles for class .omnivoria */
.omnivoria .main-jumbopanel,
.omnivoria .secondary-jumbopanel {
  background-color: #616a65;
}
.omnivoria #first::first-letter {
  color: #616a65;
}
.omnivoria .story-footnote {
  color: #afb5b2;
}
.omnivoria .text-separator {
  background-image: url("../images/sep-omnivoria.png");
}
/* Styles for class .devonian */
.devonian .main-jumbopanel,
.devonian .secondary-jumbopanel {
  background-color: #99aac6;
}
.devonian #first::first-letter {
  color: #99aac6;
}
.devonian .story-footnote {
  color: #bac5d8;
}
.devonian .text-separator {
  background-image: url("../images/sep-devonian.png");
}
/* Styles for class .obrovsky */
.obrovsky .main-jumbopanel,
.obrovsky .secondary-jumbopanel {
  background-color: #b34a53;
}
.obrovsky #first::first-letter {
  color: #b34a53;
}
.obrovsky .story-footnote {
  color: #e1b5b9;
}
.obrovsky .text-separator {
  background-image: url("../images/sep-obrovsky.png");
}
