@import 'nav-shared.less';

.obrovsky nav {
  background-color: @colorObrovsky;
}

.obrovsky a:hover {
  color: darken(@lightColor, 10%) !important;
}


.obrovsky .dropdown-menu {
  background-color: @colorObrovsky !important;
}

.obrovsky .navbar-default .navbar-nav>.open>a, .obrovsky .navbar-default .navbar-nav>.open>a:focus, .obrovsky .navbar-default .navbar-nav>.open>a:hover, .obrovsky .dropdown-item:hover {
  background-color: lighten(@colorObrovsky, 10%);
}

.obrovsky #dropdown-toggle {

  &:link {
    background-color: lighten(@colorObrovsky, 10%);
  }

  &:visited {
    background-color: lighten(@colorObrovsky, 10%);
  }

  &:hover {
    background-color: lighten(@colorObrovsky, 10%);
  }

  &:active {
    background-color: lighten(@colorObrovsky, 10%);
  }
}

.obrovsky .open #dropdown-toggle {
  background-color: lighten(@colorObrovsky, 10%);
}

.obrovsky #logo {
  width: 30px;
  height: 30px;
  margin-top: -5px;
}