<div [ngClass]="{nocturine: theme == 0, cunninghamella: theme == 1, vostok: theme == 2, omnivoria: theme == 3, devonian: theme == 4, obrovsky: theme == 5}">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div dropdown>
                    <button type="button" class="navbar-toggle collapsed" id="dropdown-toggle" dropdownToggle>
                        <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
                        <!--<span class="sr-only">Toggle navigation</span>-->
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" id="mobile-dropdown" role="menu">
                        <li role="menuitem"><a class="dropdown-item" [routerLink]="['/texts']">random text</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" [routerLink]="['/texts']">vostok [1]</a></li>
                        <li role="menuitem"><a class="dropdown-item" [routerLink]="['/texts']">vostok [2]</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" [routerLink]="['/bio']">bio</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" href="https://facebook.com/drobnik.books" target="_blank">facebook</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="https://www.patreon.com/" target="_blank">patreon</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li><a>pl</a></li>
                    </ul>
                </div>
                <a class="navbar-brand">
                    <img id="logo" alt="logo" [src]="logoPath">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <!--<div id="navbar" class="navbar-collapse collapse">-->
                <ul class="nav navbar-nav">
                    <li dropdown>
                        <a dropdownToggle class="dropdown-toggle">texts</a>
                        <ul *dropdownMenu class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" (click)="onChangeTheme(3)" [routerLink]="['/texts']">random text</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" [routerLink]="['/texts']">vostok [1]</a></li>
                            <li role="menuitem"><a class="dropdown-item" [routerLink]="['/texts']">vostok [2]</a></li>
                        </ul>
                    </li>
                    <li><a [routerLink]="['/bio']">bio</a></li>
                    <li dropdown>
                        <a dropdownToggle class="dropdown-toggle">links</a>
                        <ul *dropdownMenu class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="https://facebook.com/drobnik.books" target="_blank">facebook</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="https://www.patreon.com/" target="_blank">patreon</a></li>
                        </ul>
                    </li>
                    <li><a>pl</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

