/* Variables */
/* colours */
/* typography */
nav {
  background-color: #b34a53;
  color: white !important;
  font-family: 'Maven Pro', sans-serif;
}
a {
  color: white !important;
}
a:hover {
  color: #e6e6e6 !important;
}
.dropdown-menu {
  background-color: #b34a53;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: #c36d75;
}
