@import '../shared.less';

/* to make navbar collapse at a lower width than default */

@media only screen and (min-width: 310px) {
  .collapse {
    display: block;
  }
  .navbar-header {
    float: left;
  }
  .navbar-toggle {
    display: none;
  }
  .navbar>.container .navbar-brand,
  .navbar>.container-fluid .navbar-brand {
    margin-left: -15px;
  }
  .container>.navbar-header,
  .container-fluid>.navbar-header,
  .container>.navbar-collapse,
  .container-fluid>.navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav.navbar-right {
    float: right;
    margin: 0;
  }
  .navbar-nav>li {
    float: left;
  }
  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-nav .open .dropdown-menu {
    position: absolute;
    float: left;
    width: auto;
    margin-top: 2px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  }
  //.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
  //  background-color: #e5e5e5;
  //}
  //.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
  //  color: #333;
  //}
  .navbar-nav .open .dropdown-menu>li>a {
    line-height: 1.42857143;
  }
  .navbar-nav .open .dropdown-menu>li>a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 3px 20px;
  }
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
}

@media only screen and (max-width: 309px) {
  .collapse {
    display: none;
  }
  .navbar-header {
    display: block;
  }
}

nav {
  color: @lightColor !important;
  font-family: @displayFont;
  border: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: @lightColor !important;

}

.dropdown-menu {
  background-color: @colorCunninghamella !important;
}


.mobile-dropdown {
  right: 0;
  left: auto;
}

.icon-bar {
  background-color: @lightColor !important;
  width: 15px;
  margin-top: -4px;
  margin-left: -5px;
}

#dropdown-toggle, #dropdown-toggle-en {
  top: 3px;
  width: 27px;
  height: 25px;

}


.collapse {
  border:none !important;
}

/* style specific for the .nocturine class */

.nocturine nav {
  background-color: @colorNocturine;
}

.nocturine a:hover {
  color: darken(@lightColor, 10%) !important;
}

.nocturine .dropdown-menu {
  background-color: @colorNocturine !important;
}

.nocturine .navbar-default .navbar-nav>.open>a, .nocturine .navbar-default .navbar-nav>.open>a:focus, .nocturine .navbar-default .navbar-nav>.open>a:hover, .nocturine .dropdown-item:hover {
  background-color: lighten(@colorNocturine, 10%);
}

.nocturine #dropdown-toggle, .nocturine #dropdown-toggle-en {

  &:link {
    background-color: lighten(@colorNocturine, 10%);
  }

  &:visited {
    background-color: lighten(@colorNocturine, 10%);
  }

  &:hover {
    background-color: lighten(@colorNocturine, 10%);
  }

  &:active {
    background-color: lighten(@colorNocturine, 10%);
  }
}

.nocturine .open #dropdown-toggle, .nocturine .open #dropdown-toggle-en {
  background-color: lighten(@colorNocturine, 10%);
}

.nocturine .main-logo {
  width: 25px;
  height: 25px;
  margin-top: -4px;
}

.nocturine #splash-screen {
  background-color: @colorNocturine;
}


/* style specific for the .cunninghamella class */

.cunninghamella nav {
  background-color: @colorCunninghamella;
}

.cunninghamella a:hover {
  color: darken(@lightColor, 10%) !important;
}

.cunninghamella .dropdown-menu {
  background-color: @colorCunninghamella !important;
}

.cunninghamella .navbar-default .navbar-nav>.open>a, .cunninghamella .navbar-default .navbar-nav>.open>a:focus, .cunninghamella .navbar-default .navbar-nav>.open>a:hover, .cunninghamella .dropdown-item:hover {
  background-color: lighten(@colorCunninghamella, 10%);
}

.cunninghamella #dropdown-toggle, .cunninghamella #dropdown-toggle-en {

  &:link {
    background-color: lighten(@colorCunninghamella, 10%);
  }

  &:visited {
    background-color: lighten(@colorCunninghamella, 10%);
  }

  &:hover {
    background-color: lighten(@colorCunninghamella, 10%);
  }

  &:active {
    background-color: lighten(@colorCunninghamella, 10%);
  }
}

.cunninghamella .open #dropdown-toggle, .cunninghamella .open #dropdown-toggle-en {
  background-color: lighten(@colorCunninghamella, 10%);
}

.cunninghamella .main-logo {
  width: 30px;
  height: 30px;
  margin-top: -5px;
}

.cunninghamella #splash-screen {
  background-color: @colorCunninghamella;
}


/* style specific for the .vostok class */

.vostok nav {
  background-color: @colorVostok;
}

.vostok a:hover {
  color: darken(@lightColor, 10%) !important;
}

.vostok .dropdown-menu {
  background-color: @colorVostok !important;
}

.vostok .navbar-default .navbar-nav>.open>a, .vostok .navbar-default .navbar-nav>.open>a:focus, .vostok .navbar-default .navbar-nav>.open>a:hover, .vostok .dropdown-item:hover {
  background-color: lighten(@colorVostok, 10%);
}

.vostok #dropdown-toggle, .vostok #dropdown-toggle-en {

  &:link {
    background-color: lighten(@colorVostok, 10%);
  }

  &:visited {
    background-color: lighten(@colorVostok, 10%);
  }

  &:hover {
    background-color: lighten(@colorVostok, 10%);
  }

  &:active {
    background-color: lighten(@colorVostok, 10%);
  }
}

.vostok .open #dropdown-toggle, .vostok .open #dropdown-toggle-en {
  background-color: lighten(@colorVostok, 10%);
}

.vostok .main-logo {
  width: 25px;
  height: 25px;
  margin-top: -4px;
}

.vostok #splash-screen {
  background-color: @colorVostok;
}

/* style specific for the .omnivoria class */

.omnivoria nav {
  background-color: @colorOmnivoria;
}

.omnivoria a:hover {
  color: darken(@lightColor, 10%) !important;
}

.omnivoria .dropdown-menu {
  background-color: @colorOmnivoria !important;
}

.omnivoria .navbar-default .navbar-nav>.open>a, .omnivoria .navbar-default .navbar-nav>.open>a:focus, .omnivoria .navbar-default .navbar-nav>.open>a:hover, .omnivoria .dropdown-item:hover {
  background-color: lighten(@colorOmnivoria, 10%);
}

.omnivoria #dropdown-toggle, .omnivoria #dropdown-toggle-en {

  &:link {
    background-color: lighten(@colorOmnivoria, 10%);
  }

  &:visited {
    background-color: lighten(@colorOmnivoria, 10%);
  }

  &:hover {
    background-color: lighten(@colorOmnivoria, 10%);
  }

  &:active {
    background-color: lighten(@colorOmnivoria, 10%);
  }
}

.omnivoria .open #dropdown-toggle, .omnivoria .open #dropdown-toggle {
  background-color: lighten(@colorOmnivoria, 10%);
}

.omnivoria .main-logo {
  width: 25px;
  height: 25px;
  margin-top: -4px;
}

.omnivoria #splash-screen {
  background-color: @colorOmnivoria;
}

/* style specific for the .devonian class */

.devonian nav {
  background-color: @colorDevonian;
}

.devonian a:hover {
  color: darken(@lightColor, 10%) !important;
}

.devonian .dropdown-menu {
  background-color: @colorDevonian !important;
}

.devonian .navbar-default .navbar-nav>.open>a, .devonian .navbar-default .navbar-nav>.open>a:focus, .devonian .navbar-default .navbar-nav>.open>a:hover, .devonian .dropdown-item:hover {
  background-color: lighten(@colorDevonian, 10%);
}

.devonian #dropdown-toggle, .devonian #dropdown-toggle-en {

  &:link {
    background-color: lighten(@colorDevonian, 10%);
  }

  &:visited {
    background-color: lighten(@colorDevonian, 10%);
  }

  &:hover {
    background-color: lighten(@colorDevonian, 10%);
  }

  &:active {
    background-color: lighten(@colorDevonian, 10%);
  }
}

.devonian .open #dropdown-toggle, .devonian .open #dropdown-toggle-en {
  background-color: lighten(@colorDevonian, 10%);
}

.devonian .main-logo {
  width: 25px;
  height: 25px;
  margin-top: -4px;
}

.devonian #splash-screen {
  background-color: @colorDevonian;
}

/* style specific for the .obrovsky class */

.obrovsky nav {
  background-color: @colorObrovsky;
}

.obrovsky a:hover {
  color: darken(@lightColor, 10%) !important;
}


.obrovsky .dropdown-menu {
  background-color: @colorObrovsky !important;
}

.obrovsky .navbar-default .navbar-nav>.open>a, .obrovsky .navbar-default .navbar-nav>.open>a:focus, .obrovsky .navbar-default .navbar-nav>.open>a:hover, .obrovsky .dropdown-item:hover {
  background-color: lighten(@colorObrovsky, 10%);
}

.obrovsky #dropdown-toggle, .obrovsky #dropdown-toggle-en {

  &:link {
    background-color: lighten(@colorObrovsky, 10%);
  }

  &:visited {
    background-color: lighten(@colorObrovsky, 10%);
  }

  &:hover {
    background-color: lighten(@colorObrovsky, 10%);
  }

  &:active {
    background-color: lighten(@colorObrovsky, 10%);
  }
}

.obrovsky .open #dropdown-toggle, .obrovsky .open #dropdown-toggle {
  background-color: lighten(@colorObrovsky, 10%);
}

.obrovsky .main-logo {
  width: 30px;
  height: 30px;
  margin-top: -5px;
}

.obrovsky #splash-screen {
  background-color: @colorObrovsky;
}