<!-- Splash screen visible when langage is not defined -->
<div id="splash-screen" *ngIf="!langSet && router.url.includes('random')">
    <div id="splash-screen-content">
        <div>wybierz język / choose your langage</div>
        <div id="options"><a (click)="chooseLang(false)">pl</a> / <a (click)="chooseLang(true)">en</a></div>
    </div>
</div>
<!--Polish version of the navbar-->
<div *ngIf="langEn === false">
    <div [ngClass]="{nocturine: theme == 0, cunninghamella: theme == 1, vostok: theme == 2, omnivoria: theme == 3, devonian: theme == 4, obrovsky: theme == 5}">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <div dropdown>
                        <button type="button" class="navbar-toggle collapsed" id="dropdown-toggle" dropdownToggle>
                            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
                            <!--<span class="sr-only">Toggle navigation</span>-->
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <ul *dropdownMenu class="dropdown-menu mobile-dropdown" role="menu">
                            <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/random']">[losowy tekst]</a></li>
                            <!--<li class="divider dropdown-divider"></li>-->
                            <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/nocturine1']">nocturine [1]</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/nocturine2']">nocturine [2]</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/nocturine3']">nocturine [3]</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/cunninghamella1']">cunninghamella [1]</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/cunninghamella2']">cunninghamella [2]</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/vostok1']">vostok [1]</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/vostok2']">vostok [2]</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/vostok3']">vostok [3]</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/vostok4']">vostok [4]</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/biegnacyczlowiek']">biegnący człowiek</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/wszystkozernosc']">wszystkożerność</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/moths']">ćmy</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/obrovsky']">obrovsky</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/bio']">bio</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="https://facebook.com/drobnik.books" target="_blank">facebook</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="https://www.patreon.com/" target="_blank">patreon</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li><a (click)="changeLang()">en</a></li>
                        </ul>
                    </div>
                    <a class="navbar-brand" [routerLink]="['/random']">
                        <img class="main-logo" alt="logo" [src]="logoPath">
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <!--<div class="navbar-collapse collapse">-->
                    <ul class="nav navbar-nav">
                        <li dropdown>
                            <a dropdownToggle class="dropdown-toggle">teksty</a>
                            <ul *dropdownMenu class="dropdown-menu" role="menu">
                                <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/random']">[losowy tekst]</a></li>
                                <!--<li class="divider dropdown-divider"></li>-->
                                <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/nocturine1']">nocturine [1]</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/nocturine2']">nocturine [2]</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/nocturine3']">nocturine [3]</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/cunninghamella1']">cunninghamella [1]</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/cunninghamella2']">cunninghamella [2]</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/vostok1']">vostok [1]</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/vostok2']">vostok [2]</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/vostok3']">vostok [3]</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/vostok4']">vostok [4]</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/biegnacyczlowiek']">biegnący człowiek</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/wszystkozernosc']">wszystkożerność</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/cmy']">ćmy</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/obrovsky']">obrovsky</a></li>
                            </ul>
                        </li>
                        <li><a (click) = "resetScroll()" [routerLink]="['/bio']">bio</a></li>
                        <li dropdown>
                            <a dropdownToggle class="dropdown-toggle">linki</a>
                            <ul *dropdownMenu class="dropdown-menu" role="menu">
                                <li role="menuitem"><a class="dropdown-item" href="https://facebook.com/drobnik.books" target="_blank">facebook</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="https://www.patreon.com/" target="_blank">patreon</a></li>
                            </ul>
                        </li>
                        <li><a (click)="changeLang()">en</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

<!--English version of the navbar-->
<div *ngIf="langEn">
    <div [ngClass]="{nocturine: theme == 0, cunninghamella: theme == 1, vostok: theme == 2, omnivoria: theme == 3, devonian: theme == 4, obrovsky: theme == 5}">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <div dropdown>
                        <button type="button" class="navbar-toggle collapsed" id="dropdown-toggle-en" dropdownToggle>
                            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
                            <!--<span class="sr-only">Toggle navigation</span>-->
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <ul *dropdownMenu class="dropdown-menu mobile-dropdown" role="menu">
                            <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/random/en']">[random text]</a></li>
                            <!--<li class="divider dropdown-divider"></li>-->
                            <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/nocturine1/en']">nocturine [1]</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/nocturine2/en']">nocturine [2]</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/nocturine3/en']">nocturine [3]</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/cunninghamella1/en']">cunninghamella [1]</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/vostok1/en']">vostok [1]</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/vostok2/en']">vostok [2]</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/vostok3/en']">vostok [3]</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/vostok4/en']">vostok [4]</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/moths/en']">moths</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/obrovsky/en']">obrovsky</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/bio/en']">bio</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="https://facebook.com/drobnik.books" target="_blank">facebook</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="https://www.patreon.com/" target="_blank">patreon</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li><a (click)="changeLang()">pl</a></li>
                        </ul>
                    </div>
                    <a class="navbar-brand" [routerLink]="['/random/en']">
                        <img class="main-logo" alt="logo" [src]="logoPath">
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <!--<div class="navbar-collapse collapse">-->
                    <ul class="nav navbar-nav">
                        <li dropdown>
                            <a dropdownToggle class="dropdown-toggle">texts</a>
                            <ul *dropdownMenu class="dropdown-menu" role="menu">
                                <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/random/en']">[random text]</a></li>
                                <!--<li class="divider dropdown-divider"></li>-->
                                <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/nocturine1/en']">nocturine [1]</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/nocturine2/en']">nocturine [2]</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/nocturine3/en']">nocturine [3]</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/cunninghamella1/en']">cunninghamella [1]</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/vostok1/en']">vostok [1]</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/vostok2/en']">vostok [2]</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/vostok3/en']">vostok [3]</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/vostok4/en']">vostok [4]</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/moths/en']">moths</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click) = "resetScroll()" [routerLink]="['/obrovsky/en']">obrovsky</a></li>
                            </ul>
                        </li>
                        <li><a (click) = "resetScroll()" [routerLink]="['/bio/en']">bio</a></li>
                        <li dropdown>
                            <a dropdownToggle class="dropdown-toggle">links</a>
                            <ul *dropdownMenu class="dropdown-menu" role="menu">
                                <li role="menuitem"><a class="dropdown-item" href="https://facebook.com/drobnik.books" target="_blank">facebook</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="https://www.patreon.com/" target="_blank">patreon</a></li>
                            </ul>
                        </li>
                        <li><a (click)="changeLang()">pl</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

<!-- Local storage message -->
<div [ngClass]="{nocturine: theme == 0, cunninghamella: theme == 1, vostok: theme == 2, omnivoria: theme == 3, devonian: theme == 4, obrovsky: theme == 5}">
    <div id="storage-message" class="text-center" *ngIf="!locStorageAccepted && langSet">
        <p *ngIf="!langEn">Ta strona przechowuje podstawowe informacje na temat preferencji użytkownika.</p>
        <p *ngIf="langEn">This website collects basic information about user preferences.</p>
        <button class="btn accept" *ngIf="!langEn" (click)="acceptLocalStorage()">Rozumiem</button>
        <button class="btn accept" *ngIf="langEn" (click)="acceptLocalStorage()">I understand</button>
    </div>
</div>