@import '../shared.less';

nav {
  background-color: @colorObrovsky;
  color: @lightColor !important;
  font-family: @displayFont;
}

a {
  color: @lightColor !important;

  &:hover {
    color: darken(@lightColor, 10%) !important;
  }
}
